// width
r(width)
	@media only screen and (max-width: width)
		{block}

rmin($width)
	@media only screen and (min-width: ($width))
		{block}

// height
rh($height)
	@media only screen and (max-height: ($height))
		{block}

rhmin($height)
	@media only screen and (min-height: $height)
		{block}

send-button() {
	background: #1475F0;
	box-shadow: 0 8px 24px 0 rgba(41, 109, 207, 0.44);
	border-radius: 8px;
	width: 290px;
	height 60px;
	font-size: 24px;
	font-weight 700;
	color: #FFFFFF;
	letter-spacing: 0.29px;
	line-height: 56px;
	text-align center;
	margin 50px auto 114px auto;
	cursor: pointer;
}


text-overflow()
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap

hover()
	.no-touch &:hover
		{block}

// retina, also available as +hdpi
retina()
	@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2)
		{block}

// vertical-align at center
vcenter()
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)

// to use:
//+font(black, cytiapro-black-webfont)
f($name, $font-size = null, $letter-spacing = null)
	$font-family = null
	if $name == "l"
		$font-family = "light"
	font-family: $font-family
	font-weight: normal
	if $font-size != null
		font-size: ($font-size + px)
	if $letter-spacing != null
		letter-spacing: ($letter-spacing / 1000 + em)

prevent-text()
	word-break: break-all
	word-break: break-word
	hyphens: auto

font-smoothing($val = antialiased)
	font-smoothing: $val

scrollbar()
	&::-webkit-scrollbar
		{block}

scrollbar-track()
	&::-webkit-scrollbar-track
		{block}

scrollbar-thumb()
	&::-webkit-scrollbar-thumb
		{block}

scrollbar-track-piece()
	&::-webkit-scrollbar-track-piece
		{block}

//triangle
arr($width, $height, $bg, $direction)
	width: 0px
	height: 0px
	border-style: solid
	if $direction == t
		border-width: 0 $width / 2 + px $height + px $width / 2 + px
		border-color: transparent transparent $bg transparent
	if $direction == r
		border-width: $height / 2 + px 0 $height / 2 + px $width + px
		border-color: transparent transparent transparent $bg
	if $direction == b
		border-width: $height + px $width / 2 + px 0 $width / 2 + px
		border-color: $bg transparent transparent transparent
	if $direction == l
		border-width: $height / 2 + px $width + px $height / 2 + px 0
		border-color: transparent $bg transparent transparent
	if $direction == tl
		border-width: $height + px $width + px 0 0
		border-color: $bg transparent transparent transparent
	if $direction == tr
		border-width: 0 $width + px $height + px 0
		border-color: transparent $bg transparent transparent
	if $direction == br
		border-width: 0 0 $height + px $width + px
		border-color: transparent transparent $bg transparent
	if $direction == bl
		border-width: $width + px 0 0 $height + px
		border-color: transparent transparent transparent $bg

// example
// +arr(500,50, #000, l)
// +arr(500,50, #000, bl)
better-blur($radius)
	-webkit-filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a' x='0' y='0' width='1' height='1' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='{$radius}' result='b'/%3E%3CfeMorphology operator='dilate' radius='{$radius}'/%3E %3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='b'/%3E%3C/feMerge%3E%3C/filter%3E %3C/svg%3E#a")
	filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a' x='0' y='0' width='1' height='1' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='{$radius}' result='b'/%3E%3CfeMorphology operator='dilate' radius='{$radius}'/%3E %3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='b'/%3E%3C/feMerge%3E%3C/filter%3E %3C/svg%3E#a")

generic-title(name)
	.{name}__title {
		font-size: 50px
		font-weight: bold
		color: #fff
		line-height: 1.24
		letter-spacing: 5.2px
		text-transform: uppercase

		+r(tablet) {
			font-size: 28px
			font-weight: bold
			line-height: 2.21
			letter-spacing: 2.9px

			&:not(.start .{name}__title) {
				&::after {
					display: inline-block;
					position: absolute;
					content: '';
					width: 65px;
					height: 1px;
					background-color: #f9333f;
					bottom: 0;
					left: 0;
				}
			}
		}
	}
