// LAYOUT
mobile-s = 320px
mobile = 568px
tablet-y = 768px
tablet = 992px
desktop = 1199px
wide = 1336px
hd = 1440px

// OPTIONS
$transitionSpeed = 0.25s
$ease = ease-in-out

// COLOR
$main-font-color = #65A9FF;
