.admin {
	.modal-dialog {
		background: #FFFFFF;
		box-shadow: 0 12px 34px 0 rgba(0,0,0,0.19);
		border-radius: 8px;
		padding: 41px 84px;
	}

	.header {
		height 84px;
		background-color: #F6F8FA;
		padding: 0;
		margin-bottom: 90px;

		&__wrapper {
			font-size: 20px;
			color: #B4BED1;
			letter-spacing: 0;
			line-height: 41px;
		}
	}

	&__wrapper {
		display: flex;
		height: 44px;
	}

	&__title {
		font-size: 28px;
		font-weight: 700;
		color: #383838;
		letter-spacing: 0;
		line-height: 41px;
	}

	&__date-picker {
		height: 100%;

		.form-control[readonly] {
			border: 1px solid #C0CCE1;
			border-top-left-radius: 8px!important;
			border-bottom-left-radius: 8px!important;
			background-color: transparent;
			font-size: 14px;
			color: #AFB6C2;
			letter-spacing: 0;
			line-height: 26px;
		}

		.input-group-text {
			border: 1px solid #C0CCE1;
			border-top-right-radius: 8px!important;
			border-bottom-right-radius: 8px!important;
			background-color: transparent;
		}

		&.input-group {
			width: 263px;
		}
	}

	&__status-select {
		width: 165px;

		.selectize-input {
			display: flex;
			background-color: transparent!important;
			background-image: none!important;
			border: 1px solid #C0CCE1!important;
			border-radius: 8px!important;
			line-height: 24px!important;

			& .input-active {
				important;
			}

			& > input {
				font-size: 14px;
				color: #AFB6C2;
				letter-spacing: 0;
			}

			&::after {
				display: none;
				visibility: hidden;
				opacity: 0;
			}

			&.input-active {
				display: flex!important;
			}
		}

		.selectize-control {
			display: flex;
			height: 100%;
		}
	}

	&__cta {
		width: 263px;

		.btn {
			background: #1475F0;
			box-shadow: 0 8px 24px 0 rgba(41,109,207,0.44);
			border-radius: 8px;
			width: 100%;
			height: 100%;
		}
	}

	&__table {
		font-size: 14px;
		color: #383838;
		letter-spacing: 0;
		line-height: 18px;

		td {
			font-weight: 300;
		}
	}
}
