.admin-auth {
	&__title {
		font-size: 26px;
		color: #383838;
		letter-spacing: 0;
		line-height: 41px;
	}

	&__input {
		input {
			height: 50px;
			border: 1px solid #BFCCE1;
			border-radius: 8px;
		}
	}

	&__login-cta {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 60px;
		background: #1475F0;
		border-radius: 8px;
		font-family: MuseoSansCyrl-700;
		font-size: 24px;
		color: #FFFFFF;
		letter-spacing: 0.29px;
		cursor: pointer;
	}

	&__form {
		display:flex;
		flex-direction: column;
		width: 360px;
	}

	&__hint {
		margin: 0 auto;
	}
}
