.mfp-container {
	padding: 0!important;
}

.swal2-shown {
	.swal2-success-circular-line-left {
		background-color: #1475f0!important;
	}
	.swal2-success-circular-line-right {
		background-color: #1475f0!important;
	}
	.swal2-success-fix {
		background-color: #1475f0!important;
	}
	.swal2-header {
		background-color: #1475f0;
	}
	.swal2-success-line-tip {
		background-color: #65A9FF!important;
	}
	.swal2-success-line-long {
		background-color: #65A9FF!important;
	}
	.swal2-icon.swal2-success {
		background-color: #65A9FF!important;
	}

	//.swal2-success-ring {
	//	width: 36px!important;
	//	height: 36px!important;
	//}

	.swal2-icon.swal2-success {
		background-color: #65A9FF!important;
	}

	.swal2-container {
		padding 0;

		.swal2-popup {
			padding: 0;
		}
	}

	.swal2-icon.swal2-success .swal2-success-ring {
		border: 0.25em solid #65A9FF;
	}
}

.modal {
	display: flex;
	flex-direction column;
	height: 100%;

	.modal-dialog {
		margin: 0;
		max-width: 100%!important;
		width: 100%;
	}

	&__wrapper {
		display: flex;
		min-height: 100vh;
	}

	&__link {
		color: #1475f0;
		text-decoration: underline;
	}

	&__top {
		background-color: #1475F0;
		text-align: center;
		padding: 55px 15px 39px 15px;
	}

	&__form-top {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	&__success-text {
		font-size: 26px;
		font-weight: 700;
		color: #FFFFFF;
		letter-spacing: 0;
		text-align: center;
		line-height: 32px;
	}

	&__form-success-text {
		margin-top: 28px;
	}

	&__additional-inf-wrapper {
		display: flex;
		flex-direction column;
	}

	&__id-number-text {
		font-size: 14px;
		font-weight: 300;
		color: #FFFFFF;
		letter-spacing: 0;
		line-height: 21px;
		margin-top: 48px;
	}

	&__id {
		font-weight: 700;
		font-size: 20px;
		color: #FFFFFF;
		letter-spacing: 0;
		line-height: 21px;
		margin-top: 18px;
	}

	&__cta {
		display: flex;
		justify-content center;
		align-items: center;
		height: 60px;
		width: 290px;
		border: 2px solid #1475F0;
		border-radius: 8px;
		font-size: 24px;
		font-weight: 700;
		color: #1475F0;
		letter-spacing: 0.29px;
		margin-top: 40px;
		pointer-events: all;

		&:hover {
			color: #1475F0
		}
	}

	&__form-middle {
		display: flex;
		margin: 0 auto;
		width: 263px;
		height: 44px;
		margin-top: 71px;
	}

	&__form-cta {
		flex: 1;
		background: #1475F0;
		box-shadow: 0 8px 24px 0 rgba(41,109,207,0.44);
		border-radius: 8px;
		font-size: 18px;
		color: #FFFFFF;
		letter-spacing: 0.22px;
		text-align: center;
		line-height: 41px;
		cursor: pointer;
		pointer-events: all;
	}

	&__middle {
		display: flex;
		align-items: center;
		flex-direction: column;
		flex: 1 0 auto;
		font-size: 14px;
		font-weight: 300;
		color: #000000;
		letter-spacing: 0;
		line-height: 21px;
		background-color: #fff;
		padding: 63px 15px 106px 15px;
		cursor: pointer;
	}

	&__close {
		position: absolute;
		top: 0;
		right: 0;
		width: 32px;
		height: 32px;
		background-color: transparent;
		opacity: 1;
		pointer-events: all;
		cursor: pointer;

		&.mfp-close {
			opacity: 1;
		}

		&:hover {
			opacity: 1;
		}
		&:before, &:after {
			position: absolute;
			content: ' ';
			height: 15px;
			width: 2px;
			background-color: #fff;
			top: 30%;
			right: 45%;
			transform: rotate(0deg);
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}
	}
}

.admin {
	.modal__close {
		outline: none;
		&::before, &::after {
			background-color: #1475F0;
		}
	}

	.modal {
		.modal-dialog {
			width: 456px;
			height: 330px;
			margin: auto;
		}

		&__form-cta {
			&:hover {
				color: #fff!important;
			}
		}

		&.show {
			display: flex!important;
		}
	}
}

.form {
	.modal {
		.modal-dialog {
			display: flex;
			flex-direction: column;
			min-height: 100vh;
		}
	}
}
