.form {
	padding-top: 15px;

	&__top {
		margin-top: 70px;
	}

	&__title {
		font-size: 26px;
		font-weight 700;
		color: #383838;
		letter-spacing: 0;
		line-height: 41px;
		white-space: nowrap;

		&--margin-top-50 {
			margin-top 50px;
		}

		&--margin-top-80 {
			margin-top 80px;
		}
	}

	&__description {
		font-size: 16px;
		font-weight 300;
		color: #383838;
		letter-spacing: 0;
		line-height: 26px;
		margin-top: 19px;
	}

	&__hint {
		font-size: 20px;
		font-weight 700;
		color: #383838;
		letter-spacing: 0;
		line-height: 41px;
		margin-top 50px;
	}

	&__hint-footnote {
		font-size: 12px;
		font-weight 300;
		color: #383838;
		letter-spacing: 0;
		line-height: 18px;
	}

	&__form-fields {
		width: 100%;
	}

	&__field {
		display: flex;
		flex-direction column;
		align-items flex-start;
		margin-top 17px;
		transition: all .3s;

		&.has-error {
			.form__label-title {
				color: #CF141F;
			}

			.error {
				color: #CF141F;
				margin-top 7px;
			}
		}

		&--row {
			flex-direction row;
			align-items center;

			label {
				margin-bottom 0;
				margin-left 13px;
			}
		}

		&--radio {
			position: relative;
			padding-left: 35px;
			margin-bottom: 12px;
			cursor: pointer;
			user-select: none;

			&:hover input ~ .checkmark {
				background-color: #ccc;
			}

			input {
				position: absolute;
				opacity: 0;
				cursor: pointer;

				&:checked ~ .checkmark {
					background-color: #2196F3;
				}

				&:checked ~ .checkmark:after {
					display: block;
				}
			}

			.checkmark {
				position: absolute;
				top: 0;
				left: 0;
				height: 22px;
				width: 22px;
				background-color: #eee;
				border-radius: 50%;
				transition: all .3s;

				&:after {
					content: "";
					position: absolute;
					display: none;
				}

				&:after {
					top: 6px;
					left: 6px;
					width: 10px;
					height: 10px;
					border-radius: 50%;
					background: white;
				}
			}
		}

		input[type="text"], input[type="tel"] {
			font-size: 16px;
			font-weight 300;
			color: #000000;
			letter-spacing: 0;
			line-height: 18px;
			width: 100%;
			height 50px;
			border: 1px solid #BFCCE1;
			border-radius 8px;
			padding-left 14px;
			transition: all .3s;
			caret-color: #1475F0;

			&:focus {
				border: 1px solid #1475F0;
				box-shadow: 0 8px 15px 0 rgba(20,117,240,0.16);
			}
		}

		.selectize-control {
			width: 100%;
		}

		.selectize-control.single .selectize-input {
			display: flex;
			align-items center;
			font-size: 16px;
			font-weight: 300;
			color: #000;
			letter-spacing: 0;
			line-height: 18px;
			width: 100%;
			height: 50px;
			border: 1px solid #bfcce1;
			border-radius: 8px;
			padding-left: 14px;
			padding-right: 25px;
			transition: all 0.3s;
			caret-color: #1475f0;
			background-image: none;
			background-color: transparent;

			input {
				width: 100%!important;
			}

			&::after {
				border-style: solid;
				border-width: 0.15em 0.15em 0 0;
				content: '';
				display: inline-block;
				height: 0.45em;
				transform: rotate(135deg);
				vertical-align: top;
				width: 0.45em;
				border-color: #bfcce1;
				right: 12px;
				transition: all .3s;
			}

			&.dropdown-active {
				&::after {
					border-style: solid;
					border-width: 0.15em 0.15em 0 0;
					content: '';
					display: inline-block;
					height: 0.45em;
					transform: rotate(-45deg);
					vertical-align: top;
					width: 0.45em;
					border-color: #bfcce1;
					right: 12px;
				}
			}

			&:before {
				display: none;
				left: 0;
				transform: rotate(45deg);
			}

			&:before {
				top: 0;
				transform: rotate(135deg);
			}

			&:before {
				left: 0.25em;
				transform: rotate(-135deg);
			}

			&.dropdown-active {

			}

			&.input-active {
				display: flex;
			}
		}

		.selectize-dropdown {
			top: 55px!important;
			background: #FFFFFF;
			box-shadow: 0 8px 15px 0 rgba(20,117,240,0.16);
			border-radius: 8px;
			border: none;
		}

		.selectize-input {
			input {
				&::placeholder {
					font-size: 16px;
					font-weight: 300;
					color: #BFCCE1;
					letter-spacing: 0;
					line-height: 18px;
				}
			}
		}
	}

	&__label-title {
		font-size: 14px;
		font-weight 300;
		color: #8294B2;
		letter-spacing: 0;
		line-height: 26px;
		margin-bottom 3px;
		cursor: pointer;
	}

	&__cta {
		send-button()
		padding: 7px 44px 12px 44px;

		&--disabled {
			background: #E8E8E8;
			box-shadow: none;
		}
	}
}

.select2-container--default .select2-results >.select2-results__options {
	display: flex;
	flex-direction column;
}


body {
	.select2-container--default .select2-results__option--highlighted[aria-selected] {
		background-color: transparent;
		color: #000;
	}

	.select2-container--default .select2-results__option[aria-selected=true] {
		background-color transparent;
		font-weight 700;
	}

	.select2-results__option {
		font-size: 16px;
		font-weight 300;
		color: #000000;
		letter-spacing: 0;
		line-height: 18px;
		padding: 15px 14px;
	}
}

.select2-container--open .select2-dropdown--above {
	background: #FFFFFF;
	box-shadow: 0 8px 15px 0 rgba(20,117,240,0.16);
	border-radius: 8px;
}

.select2-container--open .select2-dropdown--below {
	background: #FFFFFF;
	box-shadow: 0 8px 15px 0 rgba(20,117,240,0.16);
	border-radius: 8px;
	border: none;
}


