extends ../shared/_a-layout-not-logged


block vars
	-
		var page = "admin"

block content
	.container
		.col-lg-12
			.admin-auth.d-flex.align-items-center.justify-content-center
				form(action="#").admin-auth__form
					.admin-auth__title.mb-4
						| Вход
					.admin-auth__input.form-group
						label(for='login') Логин
						input#login.form-control(type='text', aria-describedby='login', placeholder='Введите логин')
					.admin-auth__input
						label(for='password') Пароль
						input#password.form-control(type='password', aria-describedby='password', placeholder='Введите пароль')
					.admin-auth__checkbox.form-check.mt-3
						input#forgotPwd.form-check-input(type='checkbox')
						label.form-check-label(for="forgotPwd") Запомнить на этом компьтере
					.admin-auth__login-cta.mt-5
						| Войти
					a(href='#').admin-auth__hint.mt-2.text-center
						| Забыли пароль?
