extends ../shared/_a-layout
include ../components/_modal-form-registery

block vars
	-
		var page = "admin";
		var tableHeader = ['Дата', 'ID номер', 'ФИО', 'Номер телефона', 'Действие'];
		var tableBody = ['21.03.2018', '34578230756397', 'Семенов Андрей Александрович', '+380(93) 234 56 78', 'Распечатать']

block content
	.container
		.row.mb-5
			.col-lg-4
				.admin__title
					| Личный кабинет
			.col-lg-8.d-flex.align-items-center
				.admin__wrapper
					.admin__date-picker.input-group.mr-2
						input.admin__picker.form-control(type='text', placeholder="Выберите период..")
						.input-group-prepend
							.input-group-text
								svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='36.447px', height='23px', fill="#C0CCE1", viewbox='0 0 36.447 36.447', style='enable-background:new 0 0 36.447 36.447;', xml:space='preserve')
									path(d='M30.224,3.948h-1.098V2.75c0-1.517-1.197-2.75-2.67-2.75c-1.474,0-2.67,1.233-2.67,2.75v1.197h-2.74V2.75\
									c0-1.517-1.197-2.75-2.67-2.75c-1.473,0-2.67,1.233-2.67,2.75v1.197h-2.74V2.75c0-1.517-1.197-2.75-2.67-2.75\
									c-1.473,0-2.67,1.233-2.67,2.75v1.197H6.224c-2.343,0-4.25,1.907-4.25,4.25v24c0,2.343,1.907,4.25,4.25,4.25h24\
									c2.344,0,4.25-1.907,4.25-4.25v-24C34.474,5.855,32.567,3.948,30.224,3.948z M25.286,2.75c0-0.689,0.525-1.25,1.17-1.25\
									c0.646,0,1.17,0.561,1.17,1.25v4.896c0,0.689-0.524,1.25-1.17,1.25c-0.645,0-1.17-0.561-1.17-1.25V2.75z M17.206,2.75\
									c0-0.689,0.525-1.25,1.17-1.25s1.17,0.561,1.17,1.25v4.896c0,0.689-0.525,1.25-1.17,1.25s-1.17-0.561-1.17-1.25V2.75z M9.125,2.75\
									c0-0.689,0.525-1.25,1.17-1.25s1.17,0.561,1.17,1.25v4.896c0,0.689-0.525,1.25-1.17,1.25s-1.17-0.561-1.17-1.25V2.75z\
									M31.974,32.198c0,0.965-0.785,1.75-1.75,1.75h-24c-0.965,0-1.75-0.785-1.75-1.75v-22h27.5V32.198z')
									rect(x='6.724', y='14.626', width='4.595', height='4.089')
									rect(x='12.857', y='14.626', width='4.596', height='4.089')
									rect(x='18.995', y='14.626', width='4.595', height='4.089')
									rect(x='25.128', y='14.626', width='4.596', height='4.089')
									rect(x='6.724', y='20.084', width='4.595', height='4.086')
									rect(x='12.857', y='20.084', width='4.596', height='4.086')
									rect(x='18.995', y='20.084', width='4.595', height='4.086')
									rect(x='25.128', y='20.084', width='4.596', height='4.086')
									rect(x='6.724', y='25.54', width='4.595', height='4.086')
									rect(x='12.857', y='25.54', width='4.596', height='4.086')
									rect(x='18.995', y='25.54', width='4.595', height='4.086')
									rect(x='25.128', y='25.54', width='4.596', height='4.086')
					.admin__status-select.mr-2
						select(id="js-status-select" class="")
							option(value="") Любой статус
							option(value="1") Любой статус
							option(value="2") Распечатанные
							option(value="3") Нераспечатанные
					.admin__cta
						button(type="button" class="btn btn-primary") Сформировать реестр

		.row
			.col-lg-12
				table.table.admin__table
					thead
						tr
							each title in tableHeader
								th(scope='col')= title
					tbody
						each _ in new Array(4)
							tr
								td(scope='row') 21.03.2018
								td(scope='row') 34578230756397
								td(scope='row') Семенов Андрей Александрович
								td(scope='row') +380(93) 234 56 78
								td(scope='row')
									a.admin__table-cta(href="#" data-toggle="modal" data-target="#modalFormRegistery" data-backdrop="static" data-keyboard="false")
										| Распечатать
						tr.admin__table-row.admin__table-row--unactive
							td(scope='row') 21.03.2018
							td(scope='row') 34578230756397
							td(scope='row') Семенов Андрей Александрович
							td(scope='row') +380(93) 234 56 78
							td(scope='row')
								a.admin__table-cta(href="#" data-toggle="modal" data-target="#modalFormRegistery" data-backdrop="static" data-keyboard="false")
									| Распечатать повторно

	+modalFormRegistery()
