extends ../shared/_layout

block vars
	-
		var page = "home"

block content
	section.accordion
		.container
			.accordion__item
				.accordion__title
					| О нас
				.accordion__panel
					.p.accordion__paragraph.accordion__paragraph--highlight Наша миссия – преодоление эпидемии ВИЧ в Украине.
					br
					br
					.p.accordion__paragraph
						| Уже 17 лет мы предоставляем услуги в сфере ВИЧ сервисов. Сервис заказа теста реализуется Благотворительной организацией «Всеукраинская сеть людей живущих с ВИЧ». Доставка осуществляется Укрпочтой.
			.accordion__item
				.accordion__title
					| О тесте
				.accordion__panel
					.p.accordion__paragraph
						| Тест бесплатный. Получатель оплачивает только доставку Укрпочтой одним из выбранных способов:
					ul.accordion__enum
						li.accordion__enum-item
							| В почтовое отделение 27 грн.
						li.accordion__enum-item
							| По адресу 36 грн.
					br
					br
					.p.accordion__paragraph
						| Уже 17 лет мы предоставляем услуги в сфере ВИЧ сервисов. Сервис заказа теста реализуется Благотворительной организацией «Всеукраинская сеть людей живущих с ВИЧ». Доставка осуществляется Укрпочтой.
	section.package
		.container
			.package__title
				| Упаковка теста
			.package__description
				| Тест упакован в стандартную коробку Укрпочты и внешне никак не выдает содержимое. Внутри коробки находится тест, инструкция и презерватив.
			br
			br
			.package__description
				| Чтобы получить тест, заполните данные доставки. Мы гарантируем, что ваши данные будут использованы только для отправки посылки и никаким другим образом.
		a(href="#")
			.homepage__cta
				| Заполнить форму

