header.header.d-flex.align-items-center
	.container
		.header__wrapper.d-flex.justify-content-between
			.header__logo
				img.header__logo-image(src='./img/logo-1.png')
			.header__user-wrapper.d-flex
				.header__user-text.mr-3
					| Личный кабинет администратора
