// FOOTER :: START
footer.footer
	.container
		.footer__wrapper
			.footer__description
				| Сервис заказа теста реализуется Благотворительной организацией
				| «Всеукраинская сеть людей живущих с ВИЧ».
			.footer__description.footer__description--mt-20
				| Если у вас остались вопросы, пишите нам:
			a.footer__mail-to(href="mailto:pr@network.org.ua")
				| pr@network.org.ua
			.footer__copyrgiht
				p.footer__copyright-text powered by
				a(href="http://volta.one/" target="_blank")
					img.footer__logo(src="../img/volta-logo.png")


// FOOTER :: END
