// HEADER :: START
include ../shared/_mixins

header.header
	.container
		.header__wrapper
		a(href="/homepage.html")
			h1.header__title
				| HIV Test
		h2.header__title-description
			| Заказ доставки теста на ВИЧ
		.header__logo-wrapper
			a.header__logo(href='./homepage.html')
				img.header__logo-image(src='./img/logo-1.png')
			a.header__logo(href='./homepage.html')
				img.header__logo-image(src='./img/logo-2.png')


// HEADER :: END
