.header {
	display: flex
	position: relative
	background: #1475F0
	padding-top: 17px
	color: $main-font-color
	top: 0
	left: 0
	right: 0
	height: 145px
	z-index: 101

	&.is-fixed {
		display: flex
		align-items: center
		padding: 50px 0
		height: 80px
		background: rgb(17, 17, 17)
		top: 0
		transform: translate3d(0, -100%, 0)
		transition: 0.15s ease-in-out
	}

	&.is-fixed-visible {
		position: fixed
		transform: translate3d(0, 0, 0)
	}

	&__title {
		font-size: 36px;
		color: $main-font-color;
		letter-spacing: 1.2px;
		line-height: 41px;
	}

	&__title-description {
		font-size: 18px;
		color: $main-font-color;
		letter-spacing: 0;
		line-height: 10px;
		margin-top: 8px;
		padding-left: 4px;
	}

	&__logo-wrapper {
		display: flex;
		justify-content space-between;
		position: relative;
		bottom: -35px;
	}

	&__logo {
		display: inline-flex
		width: 130px
		height: 50px
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);

		&--fade {
			opacity: 0
			visibility: hidden
		}
	}

	&__logo-image {
		width: 131px;
		height: 51px;
		object-fit: none;
	}
}
