@import 's-grid-settings';
@import 's-grid-functions';


// Overrides for s-grid
base-font-size = 18;
gutter = 14px;
columns = 12;
gridClassName = 'grid';
cellClassName = 'col';


breakpoints = {
    sm: 0,
    md: 992px,
    lg: 1200px,
    xlg: 1440px,
    xxlg: 1920px
}
